EDR_DEBUG=true
EDR_PG_DSN=postgresql+asyncpg://edr:edr_dev_password@localhost:5432/edr
EDR_OPENSEARCH_URL=http://localhost:9200
EDR_KAFKA_BROKERS=localhost:19092
EDR_JWT_SECRET=please-generate-a-secret-of-at-least-16-chars
EDR_CA_MASTER_KEY=please-generate-a-secret-of-at-least-32-chars!!
EDR_GRPC_LISTEN=0.0.0.0:50051
